body {
  background-color: rgb(12, 154, 154);
}
.headerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.headerText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.footer {
  text-align: center;
  background-color: rgb(12, 154, 154);
  color: white;
}

.footerText {
  color: white;
  font-size: 15px;
}

@media (max-width: 468px) {
  .headerTitle {
    font-size: 33px;
    margin-top: 80px;
  }

  .headerText {
    font-size: 11px;
      margin-top: 20px;
     font-family:Arial, Helvetica, sans-serif;
      margin-bottom: 10px;
      
  }
}
